.login-bg {
    background-image: url(../../../assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    grid-column: 1/2;
    background-color: var(--primary-color);
    color: var(--txt-color);
    position: absolute;
}

.login-form {
    background-color: var(--form-color);
    color: var(--txt-color-input);
    width: 350px;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
    margin: 50vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(0, -50%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.login-user{
    width: 100%;
    text-align: center;
    margin-top: 2vh;
}

.login-input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin: 10px;
    padding-left: 5px;
    background-color: transparent;
    font-weight: 600;
}

.login-input::placeholder {
    padding: none;
    color: var(--txt-color-input);
    font-weight: 600;
}